@model IEnumerable<r1whms.Models.Item>
@{
    ViewData["Title"] = "Inventory";
    var date = DateTime.Now.ToString(); 
}

<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>

<pre>Here I would like to have Items list</pre>


<table class="table">
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(m => item.Id)
        </td>
        <td>
            @Html.DisplayFor(m => item.Name)
        </td>
        <td>
            @Html.DisplayFor(m => item.Description)
        </td>
    </tr>
    }
</table>